@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    -webkit-tap-highlight-color: transparent;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    color: #18181b;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
  }

  input, textarea, button, select {
    user-select: auto;
    -webkit-user-select: auto;
  }
}

/* 隐藏默认滚动条保持极简美观 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
